/.metadata/

# Eclipse / IDE files
.classpath
.project
.settings/

# Nested Eclipse project (dsaconcepts)
scenario-based/dsaconcepts/.classpath
scenario-based/dsaconcepts/.project
scenario-based/dsaconcepts/.settings/

# Optional: ignore nested gitignore if not needed
scenario-based/.gitignore
scenario-based/dsaconcepts/.gitignore

**/.gitignore
